/* From Uiverse.io by Kagamiie */
.project-info {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
}

.project-title {
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.5em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.lighter {
    font-size: clamp(0.9rem, 1vw, 1em);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    font-weight: lighter;
    color: grey;
}

/*DELETE THIS TWO LINE*/
.delete {
    background-color: #b2b2fd;
}

.card-img div {
    width: 90%;
}

/*IF USING IMAGES*/

.card {
    background-color: #b2b2fd;
    color: black;
    width: 100%;
    width: 400px;
    height: 330px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 20px 40px -10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: rgba(255, 255, 255, 0.4) 0px 10px 25px;
}

.card-img {
    position: relative;
    top: -20px;
    height: 100px;
    display: flex;
    justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img img {
    height: 150px;
    width: 90%;
    /* Change this width here to change the width of the color/image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
    transition: all 0.5s;
}