{% extends 'base.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/fileview.css') }}" />
{% endblock extra_css%}

{% block content %}
  <div class="main-box">
    <h1 class="file-title">File: {{ name }}</h1>
    <div class="description-block">
      <span class="upload-time">TODO: Display Upload Time Here</span>
      <span class="file-type">TODO:Display Type Here</span>
      <p class="description">Description:{{description}}</p>
    </div>

    <div class="container">
      <div class="pdf-viewer">

        <iframe src="data:application/pdf;base64,{{ content }}" width="650" height="600"></iframe>
     
      </div>

      <div class="ocr-box">
        <h2>Transcribed Text</h2>
        <div class="transcripts">This is a temporary holder for transcripts.</div>
      </div>
    </div>
  </div>
</div>
  </div>
{% endblock %}
