{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/filelist.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/document_card.css')}}">
{% endblock extra_css %}

{% block content %}
    <div class="filelist-header">
        <h1 class="filelist-title">Search Results</h1>
        <p class="filelist-subtitle">Search Results for "{{ query }}": {{ files|length }} file(s) found.</p>
    </div>

    <div class="container">
        <div class="filter-bar">
            <p>TODO: Filter Components</p>
        </div>

        <div class="card-grid">
            {% if files %}
                {% for file in files %}
                    {% include 'components/document_card.html' %}
                {% endfor %}
            {% else %}
                <p class="no-results">No matching files found.</p>
            {% endif %}
        </div>

        <div class="pagination">
            <button disabled>&laquo; Prev</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>Next &raquo;</button>
        </div>
    </div>
{% endblock content %}