{% extends 'base.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/fileview.css') }}" />
{% endblock extra_css%}

{% block content %}
  <div class="main-box">
    <h1 class="file-title">File: {{ name }}</h1>
    <div class="description-block">
      <span class="upload-time">TODO: Display Upload Time Here</span>
      <span class="file-type">TODO:Display Type Here</span>
      <p class="description">Description:{{description}}</p>
    </div>

    <div class="container">
      <div class="pdf-viewer">

        <iframe src="data:application/pdf;base64,{{ content }}" width="650" height="600"></iframe>
     
      </div>

      <div class="ocr-box">
        <h2>Transcribed Image</h2>
        <img id="transcribed-image" src="data:image/png;base64,{{ images[page-1] }}" alt="Transcribed page" style="max-width: 100%; height: auto;" />
        <div class="pdf-controller" style="margin-top:10px;">
            {% if page > 1 %}
              <a href="{{ url_for('main.file_transcribe', name=name, page=page-1) }}">&laquo; Prev</a>
            {% else %}
              &laquo; Prev
            {% endif %}
      
            <span>Page {{ page }} of {{ total_pages }}</span>
      
            {% if page < total_pages %}
              <a href="{{ url_for('main.file_transcribe', name=name, page=page+1) }}">Next &raquo;</a>
            {% else %}
              Next &raquo;
            {% endif %}
      </div>
    </div>

    </form>
  </div>
</div>
  </div>
{% endblock %}